.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-family: "Josefin Sans", sans-serif;
}

.wrapper > * {
    border:1px solid black;
}

.mainPhoto {
    flex: 1 100%;
    text-align: center;
    /* height: 100px; */
}

.recipeStepDiv {
    display: flex;
    height: 300px;
    flex: 8;
    flex-flow: column wrap;
}

.recipeSteps {

}

.ingredients {
    flex: 2;
}

.otherRecipes {
    flex: 1 100%
}

/* @media all and (min-width: 600px) {
    .mainPhoto    { flex: 3 0px; }
    .recipeSteps { order: 1; } 
    .ingredients    { order: 2; }
    .otherRecipes{ order: 3; }
} */
